html{
  font-size: 1em;
}

.wrapper{
  position: relative;
  display: block;
}

body{
  background: #338ea2;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

/***********************HEADER************************
******************************************************/
.header_wrapper{
  position: relative;
  display: block;
  text-align: center;
  padding: 2em;
}

h1{
  font-family: 'Orbitron', sans-serif;
  font-size: 10em;
  font-weight: 500;
}

i{
  padding: 2%;
}

/*******************MAIN CONTENT************************
********************************************************/
section{
  text-align: center;
  text-decoration: none
}

.section_wrapper{
  position: relative;
  display: block;
  text-align: center;
  padding: 1em 4em 1em 4em;
}

h2{
  font-size: 4em;
  padding: 5%;
}

/**************  EASY  &  HARD  ****************/

.easyorhard_wrapper{
  display: inline-block;
}

.easyorhard_wrapper a{
  text-decoration: none;
  color: white;
}

input{
  display: none;
}

p{
  padding: 2em 15em 2em 15em;
  font-size: 1em;
}

p:hover{
  transition-duration: .5s;
  color: #338ea2;
}

/**************  EASY  BOX  ****************/

.ebox {
  margin: 1em;
  border: solid white 5px;
  transform: perspective(60em) rotateY(-45deg);
}

.ebox:hover{
  transition-duration: .5s;
  background: white;
}

/**************  HARD  BOX  ****************/

.hbox{
  margin: 1em;
  border: solid white 5px;
  transform: perspective(60em) rotateY(45deg);
}

.hbox:hover{
  transition-duration: .5s;
  background: white;
}


/**************  FIRST BOX ATTEMPT  ****************/
/*a#easy{
  text-decoration: none;
  color: white;
  font-size: 2em;

}

#hard{
  text-decoration: none;
}*/

/*h4{
  font-size: 2em;
  color: white;
  border: solid white;
  border-width: 5px;
  line-height: 1em;
  padding: .5em;
}*/
