html{
  font: 100%;
}

body{
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#wrapper{
  background: #3e4eb8;
  color: white;
  font-family: 'Orbitron', sans-serif;
  padding-top: 1.5em;
}

/*section{
  display: inline-block;
}*/



/***********************HEADER************************
******************************************************/
.header_wrapper{
  position: relative;
  display: block;
  text-align: center;
  padding: 2em;
}

h1{
  padding: .1em;
  font-family: 'Orbitron', sans-serif;
  font-size: 5em;
}

.lives{
  padding: 1em;
}

/*HEARTS*/
ul{
  display: inline-flex;
    float: left;
}

li{
  padding: 1%;
}

/*TIMER*/
.time {
  float: right;
  font-family: sans-serif;
  font-size: 1em;
}



/***********************MAIN CONTENT******************
******************************************************/

.card{
  width: 200px;
  height: 200px;
  background: #7884cd;
  border-right: 0;
  border-bottom: 0;
  box-sizing: border-box;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  transition: background 1s, transform 1s;
  text-align: center;
}

.icon_box{
  position: absolute;
  margin-top: 4.9em;
  margin-left: -1.2em;
  display: inline-block;
  opacity: 0;
  border-radius: 15px;
  transition: background 1s, transform 1s, opacity 1s;
}

input{
  width: 200px;
  height: 200px;
  display: none;
}

input:checked .card {
  background: #7884cd;
  transform: rotateY(180deg);
  opacity: 1;
  border-radius: 15px;
}

input:checked + .icon_box {
  background: none;
  transform: rotateY(180deg);
  opacity: 1;
  border-radius: 15px;
}

#gameboard{
  padding: 2em;
  text-align: center;
}

/*********ICONS**********/
