html{
  font-size: 1em;
}

body{

}

#wrapper{
  background: #3e4eb8;
  color: white;
  font-family: 'Orbitron', sans-serif;
  padding-top: 1.5em;
}

/*section{
  display: inline-block;
}*/



/***********************HEADER************************
******************************************************/
.header_wrapper{
  position: relative;
  display: block;
  text-align: center;
  padding: 2em;
}

h1{
  padding: .1em;
  font-family: 'Orbitron', sans-serif;
  font-size: 5em;
}

.lives{
  padding: 1em;
}

/*HEARTS*/
ul{
  display: inline-flex;
    float: left;
}

li{
  padding: 1%;
}

/*TIMER*/
.time {
  float: right;
  font-family: sans-serif;
  font-size: 1em;
}



/***********************MAIN CONTENT******************
******************************************************/

.icon_box{
  position: relative;
  display: inline-block;
}

.card{
  width: 200px;
  height: 200px;
  background: #7884cd;
  border-radius: 5%;
  display: block;
  transition: background 1s, transform 1s;
}

input{
  width: 200px;
  height: 200px;
  display: none;
}

input:checked + .card {
  background: #7884cd;
  transform: rotateY(180deg);
}

#gameboard{
  padding: 2em;
  text-align: center;
}

/*********ICONS**********/
